# App URL (replace with ngrok url for local dev)
NEXT_PUBLIC_APP_URL=http://localhost:3000

# OpenAI (required for AI agent LLM)
OPENAI_API_KEY=

# Privy (required for wallet connection)
NEXT_PUBLIC_PRIVY_ID=


# Database - Neon Postgres (required)
DATABASE_URL=

 # Deployed Contracts (Base Sepolia)
NEXT_PUBLIC_CHAIN_ID=84532
AUTONOMIFY_EXECUTOR_ADDRESS=0xD44def7f75Fea04B402688FF14572129D2BEeb05
DELEGATION_MANAGER_ADDRESS=0xdb9B1e94B5b69Df7e401DDbedE43491141047dB3
HONK_VERIFIER_ADDRESS=0x50a99ae22140519cED197e7DaA3304743ed56cE1

# ===========================================
# CRE & ENCLAVE (for execution flow)
# ===========================================
CRE_TRIGGER_URL=http://localhost:8080/trigger
ENCLAVE_URL=http://3.71.199.191:8001 # Check README for the latest IP

# OPTIONAL - Block Explorer APIs
BASESCAN_API_KEY=
BSCSCAN_API_KEY=

# Verification Service (optional - for merkle proof generation)
VERIFICATION_SERVICE_URL=http://3.71.199.191:3000 # Check README for the latest IP
